<h3 class="text-center"><%=@poem.title.titleize%></h3>
<% word_position = 0 %>
  <% @poem.verse_form.each do |stanza| %>
    <table style="width:100%">
      <% stanza.each do |line| %>
        <tr>
          <td class='line'>
              <% line.split.each do |word|%>

                <% pieces = Word.text(word) %>

                  <%= pieces[0] %><span class='word' id='<%= word_position %>'><%=pieces[1]%></span><%= pieces[2] %>

                <% word_position += 1 %>
              <% end %>
            <span class="pull-right"><%= Word.syllables(line) %></span>
          </td>
        </tr>
      <% end %>
      <hr/>
    </table>
  <% end %>
<hr/>

