<%= simple_form_for @poem, remote: true do |f| %>
  <%= f.input :title, input_html: { value: @poem.title } %>
  <%= f.input :max_lines, input_html: { value: @poem.max_lines } %>
  <%= f.input :max_syllables, input_html: { value: @poem.max_syllables } %>
  <%= f.submit "Update", class: "btn btn-info" %>
<% end %>



<div id="tool-buttons">
  <button class="btn tool-buttons" type="button" id="synonyms">Synonyms</button><br/>
  <button class="btn tool-buttons" type="button" id="rhyme-with">Rhyme-with</button><br/>
  <button class="btn tool-buttons" type="button" id="replace-with">Replace</button>
</div>

<div class="d-box" id="replacement-form" title="Replace">
  <div class="input-append">
    <input class="span2" id="replacement-text" type="text">
    <button class="btn" type="button" id="replace-button">Replace!</button>
  </div>
</div>

<div class="d-box" id="synonym-box" title="Synonyms">
  <div class="progress progress-striped active">
    <div class="bar" style="width: 100%;"></div>
  </div>
  <ul class="synonyms"></ul>
</div>

<div id="popover-title">
  <span class="word-spelling"></span>
  <span class="pull-right" id="close-popover"><img src="http://www.iconattitude.com/icons/open_icon_library/actions/png/256/window-close.png" height="20" width="20"></span>
</div>
