<div class="span4">
  <div id="search-for-poems">
    <form class="form-search" action="/poems" method="get">
      <input type="text" class="input-medium search-query" name="search" id="poem-index-search-form">
      <button type="submit" value="search" class="btn btn-primary" id="search-poem-index">Search</button>
    </form>
    <% if @search %>
      Search for <span id="search-results"><%=@search%></span>: <%= @poems.count %> found
    <% end %>
    <%= link_to "Browse All", poems_path%>
  </div>
</div>

<div class="text-center span7 offset1">
  <h3>Public Poems</h3>
  <% if @poems != [] %>
    <div class="masonry-container">
      <% @poems.each do |poem| %>
        <div class="poem-pic text-center">
          <%= link_to image_tag(poem.pic), poem_path(poem.id) %>
          <div class="poem-title-link">
            <%= link_to "#{poem.title}", poem_path(poem.id), class: "poem-title-link" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    Sorry, no poems about <span id="search-results"><%=@search%></span> were found, please try again
  <% end %>
</div>

