<%= render partial: "home_side_menu" %>

<div class="span7 offset1">
  <% if @user.poems == [] %>
    <div class="text-center">
      <h3>You have no written any poems yet</h3>
      <%= link_to "Create Poem", new_poem_path %>
    </div>
  <% else %>
  <h3 class="text-center"><%=@heading%></h3>
    <div class="masonry-container">
        <% @poems.each do |poem| %>

          <% if poem.pic %>
            <div class="poem-pic text-center">
              <%= link_to image_tag(poem.pic), edit_poem_path(poem.id) %>
              <div class="poem-title-link">
                <%= link_to "#{poem.title}", edit_poem_path(poem.id), class: "poem-title-link" %>
              </div>
            </div>
          <% else %>
              <div class="poem-pic text-center poem-title-link">
                <%= link_to "#{poem.title}", edit_poem_path(poem.id), class: "poem-title-link" %>
              </div>
          <% end %>

        <% end %>
    </div>
  <% end %>
</div>
